<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>fuzzbeed</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class='container-sm middle'>
        <h1>Create a Quiz</h1>

        <form>
            <div class="form-group">
                <label for="quiz_img">Quiz Image</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Quiz Name</label>
                <textarea class="form-control" name="name" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Quiz Description</label>
                <textarea class="form-control" name="desc" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Outcome 1 (What kind of (blank) are you? i.e. unicorn,
                    Hufflepuff, pizza rat)</label>
                <textarea class="form-control" name="q1a1" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Outcome 2</label>
                <textarea class="form-control" name="q1a1" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Outcome 3</label>
                <textarea class="form-control" name="q1a1" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Outcome 4</label>
                <textarea class="form-control" name="q1a1" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Question 1</label>
                <textarea class="form-control" name="q1" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 1, Outcome 1</label>
                <textarea class="form-control" name="q1a1" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 2, Outcome 2</label>
                <textarea class="form-control" name="q1a2" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 3, Outcome 3</label>
                <textarea class="form-control" name="q1a3" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 4, Outcome 4</label>
                <textarea class="form-control" name="q1a4" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Question 2</label>
                <textarea class="form-control" name="q2" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 1, Outcome 1</label>
                <textarea class="form-control" name="q2a1" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 2, Outcome 2</label>
                <textarea class="form-control" name="q2a2" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 3, Outcome 3</label>
                <textarea class="form-control" name="q2a3" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 4, Outcome 4</label>
                <textarea class="form-control" name="q2a4" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Question 3</label>
                <textarea class="form-control" name="q3" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 1, Outcome 1</label>
                <textarea class="form-control" name="q3a1" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 2, Outcome 2</label>
                <textarea class="form-control" name="q3a2" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 3, Outcome 3</label>
                <textarea class="form-control" name="q3a3" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 4, Outcome 4</label>
                <textarea class="form-control" name="q3a4" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Question 4</label>
                <textarea class="form-control" name="q4" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 1, Outcome 1</label>
                <textarea class="form-control" name="q4a1" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 2, Outcome 2</label>
                <textarea class="form-control" name="q4a2" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 3, Outcome 3</label>
                <textarea class="form-control" name="q4a3" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 4, Outcome 4</label>
                <textarea class="form-control" name="q4a4" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Question 5</label>
                <textarea class="form-control" name="q5" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 1, Outcome 1</label>
                <textarea class="form-control" name="q5a1" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 2, Outcome 2</label>
                <textarea class="form-control" name="q5a2" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 3, Outcome 3</label>
                <textarea class="form-control" name="q5a3" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 4, Outcome 4</label>
                <textarea class="form-control" name="q5a4" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Question 6</label>
                <textarea class="form-control" name="q6" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 1, Outcome 1</label>
                <textarea class="form-control" name="q6a1" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 2, Outcome 2</label>
                <textarea class="form-control" name="q6a2" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 3, Outcome 3</label>
                <textarea class="form-control" name="q6a3" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 4, Outcome 4</label>
                <textarea class="form-control" name="q6a4" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Question 7</label>
                <textarea class="form-control" name="q7" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 1, Outcome 1</label>
                <textarea class="form-control" name="q7a1" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 2, Outcome2</label>
                <textarea class="form-control" name="q7a2" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 3, Outcome3</label>
                <textarea class="form-control" name="q7a3" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 4, Outcome4</label>
                <textarea class="form-control" name="q7a4" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Question 8</label>
                <textarea class="form-control" name="q8" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 1, Outcome 1</label>
                <textarea class="form-control" name="q8a1" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 2, Outcome 2</label>
                <textarea class="form-control" name="q8a2" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 3, Outcome 3</label>
                <textarea class="form-control" name="q8a3" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 4, Outcome 4</label>
                <textarea class="form-control" name="q8a4" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Question 9</label>
                <textarea class="form-control" name="q9" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 1, Outcome 1</label>
                <textarea class="form-control" name="q9a1" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 2, Outcome 2</label>
                <textarea class="form-control" name="q9a2" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 3, Outcome 3</label>
                <textarea class="form-control" name="q9a3" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 4, Outcome 4</label>
                <textarea class="form-control" name="q9a4" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Question 10</label>
                <textarea class="form-control" name="q10" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 1, Outcome 1</label>
                <textarea class="form-control" name="q10a1" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 2, Outcome 2</label>
                <textarea class="form-control" name="q10a2" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 3, Outcome 3</label>
                <textarea class="form-control" name="q10a3" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer 4, Outcome 4</label>
                <textarea class="form-control" name="q10a4" rows="1"></textarea>
            </div>
            <button type="submit" class="btn button btn-block mb-2">Create Quiz</button>
    </div>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>