<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>fuzzbeed</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class='contain-md middle edge'>
        <br>
        <h1 class='text-center'>Welcome {{request.session.nick_name}}!</h1>
        <br>
        <div class='row'>
            <div class='col sm-1'>
                <a href='/quiz/new' role="button" class="btn button btn-lg btn-block">Create Quiz</a>
                <a href='/logout' role="button" class="btn button btn-lg btn-block">Logout</a>
                <br>
                <h2>Past Quiz Results:</h2>
                {% for result in results %}
                <h3>{{result.created_at}}</h3>
                <h3>{{result.quiz.name}}</h3>
                <h3>{{result.outcome}}</h3>
                <br>
                {% endfor %}
            </div>
            <div class='col lg-2'>
                <div class="media">
                    <img src="{% static 'img/IMG_6013.jpg' %}" />
                    <div class="media-body">
                        <h5 class="mt-0"><a href=''>What piece of clothing defines your soul?</a></h5>
                        Holy shirt!
                    </div>
                </div>
                <div class="media">
                    <img src="{% static 'img/two_cats_sm.jpeg' %}" />
                    <div class="media-body">
                        <h5 class="mt-0"><a href=''>What kind of cat are you?</a></h5>
                        Are you a Greg or are you an Oliver?
                    </div>
                </div>
                <div class="media">
                    <img src="{% static 'img/pink_poodle.jpeg' %}" />
                    <div class="media-body">
                        <h5 class="mt-0"><a href=''>All Dogs Take This Quiz</a></h5>
                        Are you a happy-go-lucky golden? How about a mastiff?
                    </div>
                </div>
                <div class="media">
                    <img src="{% static 'img/IMG_3059.jpg' %}" />
                    <div class="media-body">
                        <h5 class="mt-0"><a href=''>Is it time to grow facial hair?</a></h5>
                        The answer is yes.
                    </div>
                </div>
                <div class="media">
                    <img src="{% static 'img/original_nintendo.jpeg' %}" />
                    <div class="media-body">
                        <h5 class="mt-0"><a href='/quiz/quizpage/1'>What 8-Bit Nintendo Game Is the Best Metaphor For
                                Our
                                Cold, Brutal Reality?</a>
                        </h5>
                        All the answers are Duck Hunt.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid middle">
        <div class="container">
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>