<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>fuzzbeed</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="jumbotron jumbotron-fluid header">
        <div class="container">
            <h1 class="display-4">fuzzbeed</h1>
            <p class="lead">a quiz site dedicated to the art of distraction</p>
            <a class="btn button" href="/home" role="button">Register or Login</a>
        </div>
    </div>
    <div class='container-lg middle'>
        <div class='row middle'>
            <div class="card col-sm px-md-5" style="width: 18rem;">
                <img src="{% static 'img/two_cats.jpeg' %}" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">What kind of cat are you?</h5>
                    <p class="card-text">Are you a Greg or are you an Oliver?</p>
                </div>
            </div>
            <div class="card col-sm px-md-5" style="width: 18rem;">
                <img src="{% static 'img/laundromat2.jpeg' %}" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">What piece of clothing defines your soul?</h5>
                    <p class="card-text">Holy shirt!</p>
                </div>
            </div>
            <div class="card col-sm px-md-5" style="width: 18rem;">
                <img src="{% static 'img/original_nintendo2.jpeg' %}" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">What 8-bit Nintendo game best defines our cold, brutal reality?</h5>
                    <p class="card-text">Yes, the answer is Duck Hunt.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid middle">
        <div class="container">
            <h3 class="display-5">fresh rankings</h3>
            <p class="lead">TK TK TK TK TK</p>
        </div>
        <div class="jumbotron jumbotron-fluid middle">
            <div class="container">
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</body>

</html>